// Specific CSS for your home-page
.all-restaurants {
  margin-left: 20px;
}

.index-layout {
  display: flex;
}

.background-color {
  background-color: #e5e5e5;
  margin-top: 80px;
  margin-bottom: 10px;
}
