.page-padding {
  padding-top: 70px;
}

h1 {
  font-size: 30px;
  color: #ddc930;
}

h2 {
  font-size: 25px;
}

.layout {
  min-height: calc(100vh - 46px);
}

.link-style {
  color: #ddc930;
  &:hover {
    text-decoration: none;
    color: #b7a628;
  }
}
