<div class="footer">
  <a href="#"><i class="fab fa-instagram footer-padding"></i></a>
  <a href="#"><i class="fab fa-facebook footer-padding"></i></a>
  <a href="#"><i class="fab fa-twitter footer-padding"></i></a>
  <a href="#"><i class="fab fa-linkedin footer-padding"></i></a>
</div>


