<div id="st-navbar-desktop-wrapper" class="st-navbar-desktop-wrapper st-navbar-desktop-fixed">
  <div class="st-navbar-desktop">
    <div class="container">
      <div class="st-navbar-desktop-logo">
        <div class="st-navbar-desktop-logo-link" title="Home"> <%= link_to "", root_path, class:"fas fa-home fa-2x"%></div>
      </div>
      <nav class="st-navbar-desktop-menu" role="navigation">
        <ul id="st-navbar-desktop-menu-nav" class="sf-menu">
          <li> <%= link_to "Top Restaurants", top_restaurants_path %></li>
          <!-- <li><a href="#">Left</a>
            <ul>
              <li><a href="#">Página uno</a></li>
              <li><a href="#">Página dos</a>
                <ul>
                  <li><a href="#">Página dos uno</a></li>
                  <li><a href="#">Página dos dos</a></li>
                  <li><a href="#">Página dos tres</a></li>
                </ul>
              </li>
              <li><a href="#">Página tres</a></li>
            </ul>
          </li> -->
          <li><%= link_to "Add a restaurant", new_restaurant_path %></li>
         <!--  <li><a href="#">Portfolio</a></li> -->
          <!-- <li class="dropdown-right"><a href="#">Right</a>
            <ul>
              <li><a href="#">Página uno</a></li>
              <li><a href="#">Página dos</a>
                <ul>
                  <li><a href="#">Página dos uno</a></li>
                  <li><a href="#">Página dos dos</a></li>
                  <li><a href="#">Página dos tres</a></li>
                </ul>
              </li>
              <li><a href="#">Página tres</a></li>
            </ul>
          </li>
          <li><a href="#">Contacto</a></li> -->
        </ul>
      </nav>
    </div>
  </div>
</div>
<!--

<div class="container" style="margin-top:110px;">
  <div class="jumbotron">
    <h2>Navbar bootstrap superfish</h2>
    <p>Utilizando la navbar de <a href="https://getbootstrap.com/" target="_blank">bootstrap</a>, le añadimos el plugin de navbars <a href="https://users.tpg.com.au/j_birch/plugins/superfish/" target="_blank">superfish</a> y mejoramos sus eventos con <a href="http://cherne.net/brian/resources/jquery.hoverIntent.html" target="_blank">hoverIntent</a>.</p>
  </div>
</div>

<div class="container" style="height:460px;"></div>
 -->
