<!-- Modal -->
<div class="modal fade" id="See-the-chef" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title" id="myModalLabel">Chef of <%= @restaurant.name %></h1>
      </div>

      <div class="modal-body">
        <h2><%= @restaurant.chef %></h2>
        <% if @restaurant.photo_of_the_chef.present? %>
        <div class="avatar" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @restaurant.photo_of_the_chef, height: 250, width: 250, crop: :thumb, gravity: :face %>')">
        </div>
      <% else %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "nophoto.png" %>')">
        </div>
      <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="button yellow-button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
