<div class="container layout">
  <div class="row">
    <h1 class="page-padding all-restaurants">All Restaurants</h1>
    <h2 class="all-restaurants">Restaurant Advisor. <span id="banner-typed-text"></span></h2>
    <% @restaurants.each do |r| %>
    <div class="col-xs-10 col-sm-4">
      <%= render "card", restaurant: r %>
    </div>
    <% end %>
  </div>
</div>
