<h1 class="page-padding">All Restaurants</h1>

<div class="container layout">
  <div class="row">
    <% @restaurants.each do |r| %>
    <div class="col-xs-10 col-sm-4">
      <%= render "card", restaurant: r %>
    </div>
    <% end %>
  </div>
</div>
