<div class="container layout bottom-padding">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-3">
      <h1 class="page-padding">Add a Restaurant</h1>
      <%= render "form" %>
    </div>
  </div>
</div>
