.card {
  height: 225px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  min-width: 230px;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  box-shadow: 3px 3px 8px rgba(33,33,33,0.8);
}
.small_font {
  font-size: 15px;
}
.top-padding {
  padding-top: 10px;
}
