/* The css under here is for the menu icon animation on click */
.navbar {
  height: 80px;
  background-color: rgba(33,33,33,0.8);
}
.home {
  padding-top: 20px;
  padding-left: 10px;
}
#navbar {
  padding-top: 15px;
}
.navbar a {
  color: #ddc930;
  &:hover {
    color: #b7a628;
    text-decoration: none;
  }
}
#navbar a {
  color: #ffffff;
  &:hover {
    color: #aaaaaa;
    text-decoration: none;
  }
}
@media screen and (max-width: 767px) {
  #navbar a {
    background-color: rgba(33,33,33,0.8);
  }
}
.navbar-toggle {
  border: none;
  background: transparent !important;
  padding-top: 25px;
  padding-bottom: 24px;
}
.navbar-toggle:hover {
  background: transparent;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed {
  padding-top: 25px;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
