.small-card {
  height: 100px;
  width: 200px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-position: center;
  color: white;
  position: relative;
  border-radius: 3px;
  box-shadow: 3px 3px 8px rgba(33,33,33,0.8);
}
